h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "PlayfairDisplay";
}

p {
    font-family: "Montserrat";
    font-size: 19px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
}

.bg-mission-vector {
    background-image: url(../image/about-us/New\ Project.png);
    background-repeat: no-repeat;
    height: 95vh;
}

.vision-bg {
    background: linear-gradient(to right, rgba(253, 243, 243, 0.61), #fafbfc);
}

.mission-bg {
    background: linear-gradient(to right, #fafbfc, rgba(253, 243, 243, 0.61));
}

.orange-linear {
    background: linear-gradient(180deg, #FFC700 -30.47%, #D77C4E 100%);
    border: 1px solid #FF9100;
}

.nav-logo {
    max-width: 100px;
}

.orange-bg {
    background-color: #fac07f;
}

.orange-color {
    color: #FF9100;
}

.hero-bg {
    background-image: url(../image/hero-bg.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p {
    margin-bottom: 0 !important;
}

.head-font {
    letter-spacing: 20px;
    font-size: 30px;
}

.dis-font {
    font-family: "ShadowsInto";
    width: 30%;
}

.hero-font {
    font-size: 15ch;
}

.height {
    height: 80vh;
}

.main-font {
    font-family: "Revivalisem-";
}

.yellow-color {
    color: #ffcc00;
}

::selection {
    background-color: #FF9100;
    color: white;
}

.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(2) {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler.x[aria-expanded=true] .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggler.x .icon-bar {
    width: 22px;
    display: block;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.navbar-toggler.x .icon-bar+.icon-bar {
    margin-top: 4px;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0 !important;
    box-shadow: 0 !important;
}

.navbar-toggler.x .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler.x .icon-bar:nth-of-type(2) {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.navbar-light .navbar-toggler {
    border-color: transparent !important;
}

.navbar-toggler.x .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

a {
    text-decoration: none !important;
}

.icon-hov:hover {
    color: rgb(0, 0, 0) !important;
    background-color: #FF9100;
    transition: 0.4s;
    padding: 10px;

}

.icons a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    background-size: 100% 200%;
    background-position: 0% 5%;
    transition: background-position 0.5s, color 0.5s;
}

.icons a:nth-child(1) {
    color: #000000;
    background-image: linear-gradient(#fff 50%, #FF9100 50%);
}

.icons a:nth-child(2) {
    color: #000000;
    background-image: linear-gradient(#fff 50%, #FF9100 50%);
}

.icons a:nth-child(3) {
    color: #000000;
    background-image: linear-gradient(#fff 50%, #FF9100 50%);
}

.icons a:nth-child(4) {
    color: #000000;
    background-image: linear-gradient(#fff 50%, #FF9100 50%);
}

.icons a:hover {
    background-position: 0% 100%;
    color: #fff;
}

.line-hov {
    display: inline-block;
    position: relative;
    color: #0087ca;
    font-size: 20px !important;
}

.line-hov::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #FF9100;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.line-hov:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.font-sacranto {
    font-family: "Sacramento";
}

@font-face {
    font-family: "Sacramento";
    src: url(/css/fonts/Sacramento/Sacramento-Regular.ttf);
}

@font-face {
    font-family: "Montserrat";
    src: url(/css/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "PlayfairDisplay";
    src: url(fonts/PlayfairDisplay/PlayfairDisplay-Bold.ttf);
}

@font-face {
    font-family: "ShadowsInto";
    src: url(fonts/ShadowsInto.ttf);
}

@font-face {
    font-family: "Revivalisem-";
    src: url(fonts/Revivalisem-/Revivalisem-demo-Regular.ttf);
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
    .bg-mission-vector {
            background-image: url(../image/about-us/New\ Project.png);
            background-repeat: no-repeat;
            height: 52vh;
        }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .head-font {
        font-family: "Tajawal";
        letter-spacing: 10px;
        font-size: 23px;
    }

    .dis-font {
        font-family: "ShadowsInto";
        width: 100%;
    }

    .hero-font {
        font-size: 9ch;
    }

    ul {
        padding: 20px 0px;
    }

    .foter-b {
        border-bottom: 1px solid white;
        width: 20%;
    }

    .line-hov::after {
        display: none;
    }

    .bg-mission-vector {
        background-image: url(../image/about-us/New\ Project.png), linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.322));
        background-repeat: no-repeat;
        height: 63vh;
        color: white !important;
    }

}

@media only screen and (min-width: 540px) and (max-width: 720px) {
    .head-font {
        font-family: "Tajawal";
        letter-spacing: 10px;
        font-size: 23px;
    }

    .dis-font {
        font-family: "ShadowsInto";
        width: 100%;
    }

    .hero-font {
        font-size: 9ch;
    }

    ul {
        padding: 20px 0px;
    }

    .foter-b {
        border-bottom: 1px solid white;
        width: 20%;
    }

    .line-hov::after {
        display: none;
    }

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .head-font {
        font-family: "Tajawal";
        letter-spacing: 10px;
        font-size: 23px;
    }

    .dis-font {
        font-family: "ShadowsInto";
        width: 100%;
    }

    .hero-font {
        font-size: 9ch;
    }

    ul {
        padding: 20px 0px;
    }

    .foter-b {
        border-bottom: 1px solid white;
        width: 20%;
    }

    .line-hov::after {
        display: none;
    }

    .bg-mission-vector {
        background-image: url(../image/about-us/New\ Project.png), linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.322));
        background-repeat: no-repeat;
        height: 91vh;
        color: white !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 479px) {

    .head-font {
        font-family: "Tajawal";
        letter-spacing: 10px;
        font-size: 23px;
    }

    .dis-font {
        font-family: "ShadowsInto";
        width: 100%;
    }

    .hero-font {
        font-size: 9ch;
    }

    ul {
        padding: 20px 0px;
    }

    .foter-b {
        border-bottom: 1px solid white;
        width: 20%;
    }

    .line-hov::after {
        display: none;
    }

    .bg-mission-vector {
        background-image: url(../image/about-us/New\ Project.png), linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.322));
        background-repeat: no-repeat;
        height: 91vh;
        color: white !important;
    }
}